%html{:lang => "en"}
  %head
    %title {Title}
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %meta
          {block:Description}
          %meta
            {/block:Description}
            %link
              %link{:href => "{RSS}", :rel => "alternate", :type => "application/rss+xml"}
                %link{:href => "http://static.tumblr.com/m6nmumr/MI2o6oo0a/screen.css", :rel => "stylesheet"}
  %header#header
    {block:ShowTitle}
    %h1.blog-title
      %a{:href => "/"} {Title}
    {/block:ShowTitle}
    
    {block:Description}
    #description {Description}
    {/block:Description}
  %body
    .content {Body}
    #posts
      {block:Posts}
      
      
      {block:Text}
      .post_text
        {block:Date}
        .timestamp
          {Month} {DayOfMonth}, {Year} {12Hour}:{Minutes}{CapitalAmPm}
          {/block:Date}
        {block:Title}
        %strong
          %a{:href => "{Permalink}"} {Title}
        {/block:Title}
        {Body}
        
        {block:HasTags}
        .text_tags
          {block:Tags}
          %a{:href => "{TagURLChrono}"} \#{Tag}
          {/block:Tags}
          {/block:HasTags}
        {/block:Text}
      {block:Link}
      .post_link
        {block:Date}
        .timestamp
          {Month} {DayOfMonth}, {Year} {12Hour}:{Minutes}{CapitalAmPm}
          {/block:Date}
        %strong
          <a href="{URL}" {Target}>{Name}
        {block:Description}
        .description {Description}
        {/block:Description}
        
        {block:HasTags}
        .link_tags
          {block:Tags}
          %a{:href => "{TagURLChrono}"} \#{Tag}
          {/block:Tags}
          {/block:HasTags}
        {/block:Link}
      {block:Quote}
      .post_quote
        {block:Date}
        .timestamp
          {Month} {DayOfMonth}, {Year} {12Hour}:{Minutes}{CapitalAmPm}
          {/block:Date}
        "{Quote}"
        
        {block:Source}
        %strong
          .source &ndash; {Source}
        {/block:Source}
        
        {block:HasTags}
        .quote_tags
          {block:Tags}
          %a{:href => "{TagURLChrono}"} \#{Tag}
          {/block:Tags}
          {/block:HasTags}
        {/block:Quote}
      {block:Photo}
      .post_photo
        {block:Date}
        .timestamp
          {Month} {DayOfMonth}, {Year} {12Hour}:{Minutes}{CapitalAmPm}
          {/block:Date}
        %a{:href => "{PhotoURL-500}"}
          %img{:alt => "{PhotoAlt}", :src => "{PhotoURL-500}"}/
        {block:Caption}
        .caption {Caption}
        {/block:Caption}
        
        {block:HasTags}
        .image_tags
          {block:Tags}
          %a{:href => "{TagURLChrono}"} \#{Tag}
          {/block:Tags}
          {/block:HasTags}
        {/block:Photo}
      {/block:Posts}
      
      
      {block:Pagination}
      .page
        {block:PreviousPage}
        %a{:href => "{PreviousPage}"} &lt;
        {/block:PreviousPage}
        {CurrentPage}
        {block:NextPage}
        %a{:href => "{NextPage}"} &gt;
        {/block:NextPage}
        {/block:Pagination}
